{% extends 'books/base.html' %}
{% block content %}
{% load static %}
<div class=""  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5 site-section">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">About Book</h2>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-4" id = "lightgallery">
              {%if book.status %}
              <img src="{{ MEDIA_URL }}{{book.book.image_location}}" alt="Images" class="img-fluid" data-aos="fade" data-src="{{ MEDIA_URL }}{{book.book.image_location}}" data-sub-html="<h4>{{book.book.title}}</h4><p>{{book.book.description}}</p>">
            </div>
            <div class="col-md-8 ml-auto">

              <h2>{{book.book.title}}</h2>
              <br>
              <p>{{book.book.description}}</p>
              <br>
              <h4>Book Details</h4>
              <br>
              <p><b>Launch Date: </b>{{book.book.published_date}}</p>
              <p><b>Author Name: </b>{{book.book.author}}</p>
              <p><b>Genre: </b>{{book.book.genres}}</p>
              <p><b>Average Rating: </b>{{book.book.rating}}</p>

              {%else%}

              <img src="{{ MEDIA_URL }}{{book.image_location}}" alt="Images" class="img-fluid" data-aos="fade" data-src="{{ MEDIA_URL }}{{book.image_location}}" data-sub-html="<h4>{{book.title}}</h4><p>{{book.description}}</p>">
            </div>
            <div class="col-md-8 ml-auto">

              <h2>{{book.title}}</h2>
              <br>
              <p>{{book.description}}</p>
              <br>
              <h4>Book Details</h4>
              <br>
              <p><b>Launch Date: </b>{{book.published_date}}</p>
              <p><b>Author Name: </b>{{book.author}}</p>
              <p><b>Genre: </b>{{book.genres}}</p>
              <p><b>Average Rating: </b>{{book.rating}}</p>

              {%endif%}


              {% ifequal status "Read" %}
              	<p><b>Status: </b><font color="green">{{status}}<font></p>
              {% endifequal %}
              {% ifequal status "Not Read" %}
              	<p><b>Status: </b><font color="red">{{status}}<font></p>
              {% endifequal %}
              {% ifequal status "To Read" %}
              	<p><b>Status: </b><font color="blue">{{status}}<font></p>
              {% endifequal %}
              {% ifequal status "Reading" %}
                <p><b>Status: </b><font color="purple">{{status}}<font></p>
                <p><b>Current Page: </b>{{current_page}}</p>
              {% endifequal %}
              {% if flag %}
              <form action="{% url 'change_current_page' pk=book.pk status='Change Page' %}" method="get">
                <input name="new_page" id="new_page" type="text" placeholder="Enter Page" />
              </form>
              {% endif %}
            </div>

        {% if user.is_authenticated %}
        </div>
        <div class="row mb-3 site-section">
            <div class="col-12 ">

              {% ifequal status "To Read" %}

              <a href = "{% url 'remove_from_wishlist' pk=book.pk %}" b><h1 class="text-center">Remove from Wishlist</h1></a>
              {% else %}
              <a href = "{% url 'add_to_wishlist' pk=book.pk %}" b><h1 class="text-center">Add to Wishlist</h1></a>


              {% endifequal %}
              <spacer>
              {% ifequal status "Reading" %}
                <a href = "{% url 'currently_reading' pk=book.pk %}" b><h1 class="text-center"><font color="purple">Currently Reading<font></h1></a>
                <a href = "{% url 'change_current_page' pk=book.pk status='In Progress'%}" b><h4 class="text-center">
                  <font color="purple">
                    Change Current Page
                  <font>
                </h4></a>
              {% else %}
                <a href = "{% url 'currently_reading' pk=book.pk  %}" b><h1 class="text-center">Currently Reading</h1></a>
              {% endifequal %} 
              <spacer>
              {% ifequal status "Read" %}
                <a href = "{% url 'already_read_book' pk=book.pk %}" b><h1 class="text-center"><font color="purple">Already Read?<font></h1></a>
              {% else %}
                <a href = "{% url 'already_read_book' pk=book.pk  %}" b><h1 class="text-center">Already Read?</h1></a>
              {% endifequal %} 


              
            </div>
          </div>
        </div>
        {% endif %}
    
      </div>
    </div>
  </div>
  {% endblock %}